# Terraform
**/.terraform/*
**/plan/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars.local
override.tf
override.tf.json
.terraform.lock.hcl

# Secrets / env
.env
*.pem
*.key

# OS
.DS_Store
Thumbs.db

workspace/global/data/plan
apps/spectra-stag-01/plan
apps/spectra-prod-01/plan
workspace/global/edge/plan
